fastapi==0.115.0
uvicorn==0.30.1
python-multipart==0.0.9
docxtpl==0.16.8
Jinja2==3.1.4
opencv-python-headless==4.10.0.84
requests==2.32.3
ffmpeg-python==0.2.0
imgkit==1.2.3
playwright==1.44.0
Pillow==10.4.0
python-dotenv==1.0.1
